@model OnlineEventsMarketingApp.Models.Accounts.UserListViewModel

@{
    ViewBag.Title = "Users";
}

<h2>User List</h2>

<div class="row">
    <div class="col-md-6 pull-left t1">
        @Html.ActionLink("Create New", "Register")
    </div>
    @*<div class="col-md-6">
        @Html.Partial("_SearchEmployee", "/EmployeeController/SearchEmployee")
    </div>*@
</div>

<table class="table t1 table-responsive table-striped">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Role
        </th>
        @*<th>
            Enabled
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id = item.User.Id}, new {@class = "js-userDelete"}) |
                @Html.ActionLink("Reset Password", "Reset", new { id = item.User.Id })
            </td>
        </tr>
    }

</table>


@Html.Partial("Pagination", Model.Pagination)

@section scripts
{
    <script type="text/javascript" src="/Scripts/pagination.js"></script>
<script type="text/javascript" src="/Scripts/Account/userlist.js"></script>
}
