@using OnlineEventsMarketingApp.Common.Constants
@model OnlineEventsMarketingApp.Models.Data.DataSheetViewModel
@{
    ViewBag.Title = "Data Sheet";
    ViewBag.Container = "container-fluid";
    var inHouse = Constants.INHOUSE.ToLower();
    var online = Constants.ONLINE.ToLower();
}

<h2>Data Sheet</h2>

@using (Html.BeginForm("DataSheet", "Data", FormMethod.Post, new { enctype = "multipart/form-data", location= "DataSheet", id="DateSheetForm" }))
{
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Month, Model.Months, new {@class = "form-control t1"})
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Year, Model.Years, new {@class = "form-control t1"})
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pull-right">

            <div class="pull-right">
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.File, new {type = "file", @class = "form-control t1", accept = ".xlsx, .xls, .csv"})
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default t1">Import Data</button>
                    @Html.ActionLink("Export Data", "ExportToExcel", new {month = Model.Month, year = Model.Year}, new {@class = "btn btn-success t1 js-export"})
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3 t1">
            <div class="input-group">
                <input type="search" data-bind="value: currentFilter, valueUpdate: 'keyup'" id="search" placeholder="Filter DIS, TE, TM, Area, RND" class="form-control">
                <label class="input-group-addon" for="search"><i class="fa fa-search"></i></label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table t1 table-responsive table-striped">
            <tr>
                <th>ID</th>
                <th>DIS</th>
                <th>TE (TM Code)</th>
                <th>TM</th>
                <th>Area</th>
                <th>In House</th>
                <th>RND</th>
                <th>Date</th>
                <th>New Users</th>
                <th>Existing Users</th>
                <th>Status</th>
                <th># Of Patients</th>
                @*<th>Tag</th>*@
            </tr>
            <tbody data-bind="foreach: filteredDatasheet">
                <tr>
                    <td data-bind="text: DataSheetId"></td>
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: DIS" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: DIS"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: TE" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: TE"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: TM" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: TM"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: Area" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: Area"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td data-bind="style: {backgroundColor: (InHouse().toLowerCase() === '@inHouse' || InHouse().toLowerCase() === '@online')  ? '' : '#f8d7da'}">
                        <input type="text" class="form-control" data-bind="value: InHouse" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: InHouse"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: Rnd" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: Rnd"></td>
                    <!-- /ko -->
                    <td><input class='form-control' data-bind="datePicker: Date" /></td>
                    <td><input class='form-control' data-bind='value: NewUsers' type="number" /></td>
                    <td><input class='form-control' data-bind='value: ExistingUsers' type="number" /></td>
                    <td data-bind="style: {backgroundColor: Status().toLowerCase() === 'run' ? '#5cb85c' : ''}"><input class='form-control' data-bind="value: Status" autocomplete="on" /></td>
                    <td><input class='form-control' data-bind='value: NoOfPatients' type="number" /></td>
                    @*<td width="120">
                        <select data-bind='options: $root.tags, optionsText: "TagName", optionsValue: "TagId", value:TagId' class="form-control"></select>
                    </td>*@
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<div class="row">
    <div class="col-md-12"><input type="button" value="Submit" class="btn btn-success" data-bind="click: submitChanges"/>
    </div>
</div>

<div class="loading-modal"></div>

@section Scripts {
    <script src="~/Scripts/Data/datasheet.js" type="text/javascript"></script>
    <script src="~/Scripts/datepicker.knockout.js" type="text/javascript"></script>

    <script type="text/javascript">      
        var viewModel = function () {
            var self = this;
            self.datasheets = ko.observableArray([]);
            self.isAdmin = '@User.IsInRole("Admin")';
            self.currentFilter = ko.observable();
            self.inhouseBg = ko.computed(function() {
                return 'red';
            });

            self.submitChanges = function () {
                showLoading();
                $.ajax({
                    dataType: "json",
                    type: 'POST',
                    url: "/Data/PostDataSheetChanges",
                    data: { sheet: ko.toJSON(self.datasheets()) },
                    success: function (returnData) {
                        alert('Datasheet has been successfully updated');
                        hideLoading();
                    },
                    error: function (err) {
                        alert('Error submitting the data: ' + err);
                        hideLoading();
                    }
                });
            };

            self.filteredDatasheet = ko.computed(function () {
                if (!self.currentFilter()) {
                    return self.datasheets();
                } else {
                    var f = self.currentFilter();
                    var exist = function(obj) {
                        return obj.toString().toLowerCase().indexOf(f) >= 0;
                    };
                    return ko.utils.arrayFilter(self.datasheets(), function (item) {
                        var i = ko.toJS(item);
                        return exist(i.DIS) || exist(i.TE) || exist(i.TM) || exist(i.Area) || exist(i.Rnd);
                    });

                }
            });

            
            var month = $('#Month').val();
            var year = $('#Year').val();
            var args = { month: month, year: year };

            showLoading();
            $.ajax({
                dataType: "json",
                url: "/Data/GetDataSheet",
                data: args,
                success: function (returnData) {
                    hideLoading();
                    ko.mapping.fromJS(returnData, {}, self.datasheets);
                },
                error: function (err) {
                    hideLoading();
                    alert('Error getting data: ' + err);
                }
            });
        }

        var datasheetViewModel = new viewModel();
        ko.applyBindings(datasheetViewModel);


    </script>
}
