@using OnlineEventsMarketingApp.Common.Constants
@model OnlineEventsMarketingApp.Models.Data.DataSheetViewModel
@{
    ViewBag.Title = "Data Sheet";
    ViewBag.Container = "container-fluid";
    var inHouse = Constants.INHOUSE.ToLower();
    var online = Constants.ONLINE.ToLower();
}

<h2>Data Sheet</h2>

@if (!Model.HasTags)
{
    <div class="alert alert-warning" role="alert">
        This month does not have assigned tags yet.
    </div>
}

@using (Html.BeginForm("DataSheet", "Data", FormMethod.Post, new { enctype = "multipart/form-data", location = "DataSheet", id = "DateSheetForm" }))
{
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Month, Model.Months, new { @class = "form-control t1" })
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Year, Model.Years, new { @class = "form-control t1" })
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            @if (Model.HasTags)
            {
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control t1", accept = ".csv" })
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default t1">Import Data</button>
                    @Html.ActionLink("Export Data", "ExportToExcel", new { month = Model.Month, year = Model.Year }, new { @class = "btn btn-success t1 js-export" })
                    <button class="btn btn-danger t1" data-bind="click:clearData">Clear Data</button>
                </div>
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3 t1">
            <div class="input-group">
                <input type="search" data-bind="value: currentFilter, valueUpdate: 'keyup'" id="search" placeholder="Filter DIS, TE, TM, Area, RND" class="form-control">
                <label class="input-group-addon" for="search"><i class="fa fa-search"></i></label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table t1 table-responsive table-striped">
            <tr>
                <th>ID</th>
                <th>DIS</th>
                <th>TE (TM Code)</th>
                <th>TM</th>
                <th>Area</th>
                <th>In House</th>
                <th>RND</th>
                <th>Date</th>
                <th>New Users</th>
                <th>Existing Users</th>
                <th>Status</th>
                <th># Of Patients</th>
                <th>Tagging</th>
            </tr>
            <tbody data-bind="foreach: filteredDatasheet">
                <tr>
                    <td data-bind="text: DataSheetId"></td>
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: DIS" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: DIS"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: TE" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: TE"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: TM" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: TM"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: Area" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: Area"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td data-bind="style: {backgroundColor: (InHouse().toLowerCase() === '@inHouse' || InHouse().toLowerCase() === '@online')  ? '' : '#f8d7da'}">
                        <input type="text" class="form-control" data-bind="value: InHouse" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: InHouse"></td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'True' -->
                    <td>
                        <input type="text" class="form-control" data-bind="value: Rnd" />
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.isAdmin == 'False' -->
                    <td data-bind="text: Rnd"></td>
                    <!-- /ko -->
                    <td data-bind="style: {backgroundColor: $root.dateColor(Date) }">
                        <input class='form-control' data-bind="datePicker: Date" />
                    </td>
                    <td><input class='form-control' data-bind='value: NewUsers' type="number" /></td>
                    <td><input class='form-control' data-bind='value: ExistingUsers' type="number" /></td>
                    <td data-bind="style: {backgroundColor: $root.statusColor(Status) }"><input class='form-control' data-bind="value: Status" autocomplete="on" /></td>
                    <td><input class='form-control' data-bind='value: NoOfPatients' type="number" /></td>
                    <td data-bind="text: Tag.TagName"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <table class="uci">
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Name
                </th>
                <th>
                    Nat.
                </th>
                <th>
                    Team
                </th>
                <th class="age">
                    Age
                </th>
                <th class="result">
                    Result
                </th>
            </tr>
        </thead>
        <tbody>
            <tr valign="top">
                <td>
                    1
                </td>
                <td>
                    Tony MARTIN
                </td>
                <td>
                    GER
                </td>
                <td>
                    <!--GER-->
                    <span title="GERMANY">GER</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    53:43.85
                </td>
            </tr>
            <tr valign="top">
                <td>
                    2
                </td>
                <td>
                    Bradley WIGGINS
                </td>
                <td>
                    GBR
                </td>
                <td>
                    <!--GBR-->
                    <span title="GREAT BRITAIN">GBR</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +1:15.83
                </td>
            </tr>
            <tr valign="top">
                <td>
                    3
                </td>
                <td>
                    Fabian CANCELLARA
                </td>
                <td>
                    SUI
                </td>
                <td>
                    <!--SUI-->
                    <span title="SWITZERLAND">SUI</span>
                </td>
                <td class="age">
                    30
                </td>
                <td class="result">
                    +1:20.59
                </td>
            </tr>
            <tr valign="top">
                <td>
                    4
                </td>
                <td>
                    Bert GRABSCH
                </td>
                <td>
                    GER
                </td>
                <td>
                    <!--GER-->
                    <span title="GERMANY">GER</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +1:31.76
                </td>
            </tr>
            <tr valign="top">
                <td>
                    5
                </td>
                <td>
                    Jack BOBRIDGE
                </td>
                <td>
                    AUS
                </td>
                <td>
                    <!--AUS-->
                    <span title="AUSTRALIA">AUS</span>
                </td>
                <td class="age">
                    22
                </td>
                <td class="result">
                    +2:13.86
                </td>
            </tr>
            <tr valign="top">
                <td>
                    6
                </td>
                <td>
                    Richie PORTE
                </td>
                <td>
                    AUS
                </td>
                <td>
                    <!--AUS-->
                    <span title="AUSTRALIA">AUS</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +2:29.54
                </td>
            </tr>
            <tr valign="top">
                <td>
                    7
                </td>
                <td>
                    David MILLAR
                </td>
                <td>
                    GBR
                </td>
                <td>
                    <!--GBR-->
                    <span title="GREAT BRITAIN">GBR</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +2:45.62
                </td>
            </tr>
            <tr valign="top">
                <td>
                    8
                </td>
                <td>
                    Lieuwe WESTRA
                </td>
                <td>
                    NED
                </td>
                <td>
                    <!--NED-->
                    <span title="NETHERLANDS">NED</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +3:18.52
                </td>
            </tr>
            <tr valign="top">
                <td>
                    9
                </td>
                <td>
                    Alexsandr DYACHENKO
                </td>
                <td>
                    KAZ
                </td>
                <td>
                    <!--KAZ-->
                    <span title="KAZAKHSTAN">KAZ</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +3:19.76
                </td>
            </tr>
            <tr valign="top">
                <td>
                    10
                </td>
                <td>
                    Jakob FUGLSANG
                </td>
                <td>
                    DEN
                </td>
                <td>
                    <!--DEN-->
                    <span title="DENMARK">DEN</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +3:30.59
                </td>
            </tr>
            <tr valign="top">
                <td>
                    11
                </td>
                <td>
                    Jonathan CASTROVIEJO NICOLAS
                </td>
                <td>
                    ESP
                </td>
                <td>
                    <!--ESP-->
                    <span title="SPAIN">ESP</span>
                </td>
                <td class="age">
                    24
                </td>
                <td class="result">
                    +3:34.37
                </td>
            </tr>
            <tr valign="top">
                <td>
                    12
                </td>
                <td>
                    Gustav LARSSON
                </td>
                <td>
                    SWE
                </td>
                <td>
                    <!--SWE-->
                    <span title="SWEDEN">SWE</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +3:34.62
                </td>
            </tr>
            <tr valign="top">
                <td>
                    13
                </td>
                <td>
                    Svein TUFT
                </td>
                <td>
                    CAN
                </td>
                <td>
                    <!--CAN-->
                    <span title="CANADA">CAN</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +3:35.89
                </td>
            </tr>
            <tr valign="top">
                <td>
                    14
                </td>
                <td>
                    Janez BRAJKOVIC
                </td>
                <td>
                    SLO
                </td>
                <td>
                    <!--SLO-->
                    <span title="SLOVENIA">SLO</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +3:44.74
                </td>
            </tr>
            <tr valign="top">
                <td>
                    15
                </td>
                <td>
                    Taylor PHINNEY
                </td>
                <td>
                    USA
                </td>
                <td>
                    <!--USA-->
                    <span title="UNITED STATES">USA</span>
                </td>
                <td class="age">
                    21
                </td>
                <td class="result">
                    +3:52.58
                </td>
            </tr>
            <tr valign="top">
                <td>
                    16
                </td>
                <td>
                    Andrew TALANSKY
                </td>
                <td>
                    USA
                </td>
                <td>
                    <!--USA-->
                    <span title="UNITED STATES">USA</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +3:57.89
                </td>
            </tr>
            <tr valign="top">
                <td>
                    17
                </td>
                <td>
                    Nelson OLIVEIRA
                </td>
                <td>
                    POR
                </td>
                <td>
                    <!--POR-->
                    <span title="PORTUGAL">POR</span>
                </td>
                <td class="age">
                    22
                </td>
                <td class="result">
                    +4:14.98
                </td>
            </tr>
            <tr valign="top">
                <td>
                    18
                </td>
                <td>
                    Jesse SERGENT
                </td>
                <td>
                    NZL
                </td>
                <td>
                    <!--NZL-->
                    <span title="NEW ZEALAND">NZL</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +4:26.31
                </td>
            </tr>
            <tr valign="top">
                <td>
                    19
                </td>
                <td>
                    Jack BAUER
                </td>
                <td>
                    NZL
                </td>
                <td>
                    <!--NZL-->
                    <span title="NEW ZEALAND">NZL</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +4:26.99
                </td>
            </tr>
            <tr valign="top">
                <td>
                    20
                </td>
                <td>
                    Stef CLEMENT
                </td>
                <td>
                    NED
                </td>
                <td>
                    <!--NED-->
                    <span title="NETHERLANDS">NED</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +4:33.93
                </td>
            </tr>
            <tr valign="top">
                <td>
                    21
                </td>
                <td>
                    Frantisek RABON
                </td>
                <td>
                    CZE
                </td>
                <td>
                    <!--CZE-->
                    <span title="CZECH REPUBLIC">CZE</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +4:39.85
                </td>
            </tr>
            <tr valign="top">
                <td>
                    22
                </td>
                <td>
                    Laszlo BODROGI
                </td>
                <td>
                    FRA
                </td>
                <td>
                    <!--FRA-->
                    <span title="FRANCE">FRA</span>
                </td>
                <td class="age">
                    35
                </td>
                <td class="result">
                    +4:41.46
                </td>
            </tr>
            <tr valign="top">
                <td>
                    23
                </td>
                <td>
                    Vasili KIRYIENKA
                </td>
                <td>
                    BLR
                </td>
                <td>
                    <!--BLR-->
                    <span title="BELARUS">BLR</span>
                </td>
                <td class="age">
                    30
                </td>
                <td class="result">
                    +4:42.60
                </td>
            </tr>
            <tr valign="top">
                <td>
                    24
                </td>
                <td>
                    Adriano MALORI
                </td>
                <td>
                    ITA
                </td>
                <td>
                    <!--ITA-->
                    <span title="ITALY">ITA</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +4:46.58
                </td>
            </tr>
            <tr valign="top">
                <td>
                    25
                </td>
                <td>
                    Mikhail IGNATYEV
                </td>
                <td>
                    RUS
                </td>
                <td>
                    <!--RUS-->
                    <span title="RUSSIA">RUS</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +4:47.97
                </td>
            </tr>
            <tr valign="top">
                <td>
                    26
                </td>
                <td>
                    Marco PINOTTI
                </td>
                <td>
                    ITA
                </td>
                <td>
                    <!--ITA-->
                    <span title="ITALY">ITA</span>
                </td>
                <td class="age">
                    35
                </td>
                <td class="result">
                    +4:48.12
                </td>
            </tr>
            <tr valign="top">
                <td>
                    27
                </td>
                <td>
                    David MCCANN
                </td>
                <td>
                    IRL
                </td>
                <td>
                    <!--IRL-->
                    <span title="IRELAND">IRL</span>
                </td>
                <td class="age">
                    38
                </td>
                <td class="result">
                    +4:53.65
                </td>
            </tr>
            <tr valign="top">
                <td>
                    28
                </td>
                <td>
                    Ignatas KONOVALOVAS
                </td>
                <td>
                    LTU
                </td>
                <td>
                    <!--LTU-->
                    <span title="LITHUANIA">LTU</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +5:00.51
                </td>
            </tr>
            <tr valign="top">
                <td>
                    29
                </td>
                <td>
                    Dominique CORNU
                </td>
                <td>
                    BEL
                </td>
                <td>
                    <!--BEL-->
                    <span title="BELGIUM">BEL</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +5:01.36
                </td>
            </tr>
            <tr valign="top">
                <td>
                    30
                </td>
                <td>
                    Ioannis TAMOURIDIS
                </td>
                <td>
                    GRE
                </td>
                <td>
                    <!--GRE-->
                    <span title="GREECE">GRE</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +5:07.74
                </td>
            </tr>
            <tr valign="top">
                <td>
                    31
                </td>
                <td>
                    Eugen WACKER
                </td>
                <td>
                    KGZ
                </td>
                <td>
                    <!--KGZ-->
                    <span title="KYRGYZSTAN">KGZ</span>
                </td>
                <td class="age">
                    37
                </td>
                <td class="result">
                    +5:10.46
                </td>
            </tr>
            <tr valign="top">
                <td>
                    32
                </td>
                <td>
                    Gediminas BAGDONAS
                </td>
                <td>
                    LTU
                </td>
                <td>
                    <!--LTU-->
                    <span title="LITHUANIA">LTU</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +5:18.89
                </td>
            </tr>
            <tr valign="top">
                <td>
                    33
                </td>
                <td>
                    Ivan Mauricio CASAS
                </td>
                <td>
                    COL
                </td>
                <td>
                    <!--COL-->
                    <span title="COLOMBIA">COL</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +5:20.23
                </td>
            </tr>
            <tr valign="top">
                <td>
                    34
                </td>
                <td>
                    Carlos OYARZUN
                </td>
                <td>
                    CHI
                </td>
                <td>
                    <!--CHI-->
                    <span title="CHILE">CHI</span>
                </td>
                <td class="age">
                    30
                </td>
                <td class="result">
                    +5:22.32
                </td>
            </tr>
            <tr valign="top">
                <td>
                    35
                </td>
                <td>
                    Leandro MESSINEO
                </td>
                <td>
                    ARG
                </td>
                <td>
                    <!--ARG-->
                    <span title="ARGENTINA">ARG</span>
                </td>
                <td class="age">
                    32
                </td>
                <td class="result">
                    +5:23.67
                </td>
            </tr>
            <tr valign="top">
                <td>
                    36
                </td>
                <td>
                    Dmitriy GRUZDEV
                </td>
                <td>
                    KAZ
                </td>
                <td>
                    <!--KAZ-->
                    <span title="KAZAKHSTAN">KAZ</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +5:29.90
                </td>
            </tr>
            <tr valign="top">
                <td>
                    37
                </td>
                <td>
                    Alexander WETTERHALL
                </td>
                <td>
                    SWE
                </td>
                <td>
                    <!--SWE-->
                    <span title="SWEDEN">SWE</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +5:35.10
                </td>
            </tr>
            <tr valign="top">
                <td>
                    38
                </td>
                <td>
                    Matej JURCO
                </td>
                <td>
                    SVK
                </td>
                <td>
                    <!--SVK-->
                    <span title="SLOVAKIA">SVK</span>
                </td>
                <td class="age">
                    27
                </td>
                <td class="result">
                    +5:37.35
                </td>
            </tr>
            <tr valign="top">
                <td>
                    39
                </td>
                <td>
                    Jesus HERRADA LOPEZ
                </td>
                <td>
                    ESP
                </td>
                <td>
                    <!--ESP-->
                    <span title="SPAIN">ESP</span>
                </td>
                <td class="age">
                    21
                </td>
                <td class="result">
                    +5:39.30
                </td>
            </tr>
            <tr valign="top">
                <td>
                    40
                </td>
                <td>
                    Martin KOHLER
                </td>
                <td>
                    SUI
                </td>
                <td>
                    <!--SUI-->
                    <span title="SWITZERLAND">SUI</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +5:43.24
                </td>
            </tr>
            <tr valign="top">
                <td>
                    41
                </td>
                <td>
                    Vladimir GUSEV
                </td>
                <td>
                    RUS
                </td>
                <td>
                    <!--RUS-->
                    <span title="RUSSIA">RUS</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +5:49.99
                </td>
            </tr>
            <tr valign="top">
                <td>
                    42
                </td>
                <td>
                    Dimitri CHAMPION
                </td>
                <td>
                    FRA
                </td>
                <td>
                    <!--FRA-->
                    <span title="FRANCE">FRA</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +5:50.82
                </td>
            </tr>
            <tr valign="top">
                <td>
                    43
                </td>
                <td>
                    Reidar Bohlin BORGERSEN
                </td>
                <td>
                    NOR
                </td>
                <td>
                    <!--NOR-->
                    <span title="NORWAY">NOR</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +5:54.83
                </td>
            </tr>
            <tr valign="top">
                <td>
                    44
                </td>
                <td>
                    Matias MEDICI
                </td>
                <td>
                    ARG
                </td>
                <td>
                    <!--ARG-->
                    <span title="ARGENTINA">ARG</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +5:56.21
                </td>
            </tr>
            <tr valign="top">
                <td>
                    45
                </td>
                <td>
                    Robert VRECER
                </td>
                <td>
                    SLO
                </td>
                <td>
                    <!--SLO-->
                    <span title="SLOVENIA">SLO</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +6:04.21
                </td>
            </tr>
            <tr valign="top">
                <td>
                    46
                </td>
                <td>
                    Rafai CHTIOUI
                </td>
                <td>
                    TUN
                </td>
                <td>
                    <!--TUN-->
                    <span title="TUNISIA">TUN</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +6:10.00
                </td>
            </tr>
            <tr valign="top">
                <td>
                    47
                </td>
                <td>
                    Michael MORKOV
                </td>
                <td>
                    DEN
                </td>
                <td>
                    <!--DEN-->
                    <span title="DENMARK">DEN</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +6:10.16
                </td>
            </tr>
            <tr valign="top">
                <td>
                    48
                </td>
                <td>
                    Michal KWIATKOWSKI
                </td>
                <td>
                    POL
                </td>
                <td>
                    <!--POL-->
                    <span title="POLAND">POL</span>
                </td>
                <td class="age">
                    21
                </td>
                <td class="result">
                    +6:13.80
                </td>
            </tr>
            <tr valign="top">
                <td>
                    49
                </td>
                <td>
                    Rui Alberto FARIA DA COSTA
                </td>
                <td>
                    POR
                </td>
                <td>
                    <!--POR-->
                    <span title="PORTUGAL">POR</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +6:17.44
                </td>
            </tr>
            <tr valign="top">
                <td>
                    50
                </td>
                <td>
                    Thomas DE GENDT
                </td>
                <td>
                    BEL
                </td>
                <td>
                    <!--BEL-->
                    <span title="BELGIUM">BEL</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +6:28.46
                </td>
            </tr>
            <tr valign="top">
                <td>
                    51
                </td>
                <td>
                    Winner ANACONA GOMEZ
                </td>
                <td>
                    COL
                </td>
                <td>
                    <!--COL-->
                    <span title="COLOMBIA">COL</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +6:29.04
                </td>
            </tr>
            <tr valign="top">
                <td>
                    52
                </td>
                <td>
                    Oleksandr KVACHUK
                </td>
                <td>
                    UKR
                </td>
                <td>
                    <!--UKR-->
                    <span title="UKRAINE">UKR</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +6:30.37
                </td>
            </tr>
            <tr valign="top">
                <td>
                    53
                </td>
                <td>
                    Matti HELMINEN
                </td>
                <td>
                    FIN
                </td>
                <td>
                    <!--FIN-->
                    <span title="FINLAND">FIN</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +6:43.78
                </td>
            </tr>
            <tr valign="top">
                <td>
                    54
                </td>
                <td>
                    Tomas Aurelio GIL MARTINEZ
                </td>
                <td>
                    VEN
                </td>
                <td>
                    <!--VEN-->
                    <span title="VENEZUELA">VEN</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +6:52.81
                </td>
            </tr>
            <tr valign="top">
                <td>
                    55
                </td>
                <td>
                    Maciej BODNAR
                </td>
                <td>
                    POL
                </td>
                <td>
                    <!--POL-->
                    <span title="POLAND">POL</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +6:55.36
                </td>
            </tr>
            <tr valign="top">
                <td>
                    56
                </td>
                <td>
                    Vitaliy POPKOV
                </td>
                <td>
                    UKR
                </td>
                <td>
                    <!--UKR-->
                    <span title="UKRAINE">UKR</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +7:06.49
                </td>
            </tr>
            <tr valign="top">
                <td>
                    57
                </td>
                <td>
                    Jiri HUDECEK
                </td>
                <td>
                    CZE
                </td>
                <td>
                    <!--CZE-->
                    <span title="CZECH REPUBLIC">CZE</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +7:27.50
                </td>
            </tr>
            <tr valign="top">
                <td>
                    58
                </td>
                <td>
                    Pavol POLIEVKA
                </td>
                <td>
                    SVK
                </td>
                <td>
                    <!--SVK-->
                    <span title="SLOVAKIA">SVK</span>
                </td>
                <td class="age">
                    42
                </td>
                <td class="result">
                    +7:40.16
                </td>
            </tr>
            <tr valign="top">
                <td>
                    59
                </td>
                <td>
                    Freqalsi ABRHA
                </td>
                <td>
                    ERI
                </td>
                <td>
                    <!--ERI-->
                    <span title="ERITREA">ERI</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +8:12.76
                </td>
            </tr>
            <tr valign="top">
                <td>
                    60
                </td>
                <td>
                    David ALBÓS
                </td>
                <td>
                    AND
                </td>
                <td>
                    <!--AND-->
                    <span title="ANDORRA">AND</span>
                </td>
                <td class="age">
                    27
                </td>
                <td class="result">
                    +9:38.90
                </td>
            </tr>
            <tr valign="top">
                <td>
                    61
                </td>
                <td>
                    Tyron GIORGIERI
                </td>
                <td>
                    ALB
                </td>
                <td>
                    <!--ALB-->
                    <span title="ALBANIA">ALB</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +11:18.93
                </td>
            </tr>
            <tr valign="top">
                <td>
                    62
                </td>
                <td>
                    Simone ZIGNOLI
                </td>
                <td>
                    ALB
                </td>
                <td>
                    <!--ALB-->
                    <span title="ALBANIA">ALB</span>
                </td>
                <td class="age">
                    35
                </td>
                <td class="result">
                    +17:43.22
                </td>
            </tr>
            <tr valign="top">
                <td>
                    DNF
                </td>
                <td>
                    Matt BRAMMEIER
                </td>
                <td>
                    IRL
                </td>
                <td>
                    <!--IRL-->
                    <span title="IRELAND">IRL</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    &nbsp;

                </td>
            </tr>
            <tr valign="top">
                <td>
                    DSQ
                </td>
                <td>
                    Semere MENGS
                </td>
                <td>
                    ERI
                </td>
                <td>
                    <!--ERI-->
                    <span title="ERITREA">ERI</span>
                </td>
                <td class="age">
                    33
                </td>
                <td class="result">
                    &nbsp;

                </td>
            </tr>
            <tr valign="top">
                <td>
                    DNS
                </td>
                <td>
                    Ezzeddine AGAB
                </td>
                <td>
                    ALG
                </td>
                <td>
                    <!--ALG-->
                    <span title="ALGERIA">ALG</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    &nbsp;

                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="cell s1of2 lastCell">
    <h3>
        Women Elite Championnats du Monde UCI (DEN/CM)
    </h3>
    <table class="uci">
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Name
                </th>
                <th>
                    Nat.
                </th>
                <th>
                    Team
                </th>
                <th class="age">
                    Age
                </th>
                <th class="result">
                    Result
                </th>
            </tr>
        </thead>
        <tbody>
            <tr valign="top">
                <td>
                    1
                </td>
                <td>
                    Judith ARNDT
                </td>
                <td>
                    GER
                </td>
                <td>
                    <!--GER-->
                    <span title="GERMANY">GER</span>
                </td>
                <td class="age">
                    35
                </td>
                <td class="result">
                    37:07.38
                </td>
            </tr>
            <tr valign="top">
                <td>
                    2
                </td>
                <td>
                    Linda Melanie VILLUMSEN
                </td>
                <td>
                    NZL
                </td>
                <td>
                    <!--NZL-->
                    <span title="NEW ZEALAND">NZL</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +21.73
                </td>
            </tr>
            <tr valign="top">
                <td>
                    3
                </td>
                <td>
                    Emma POOLEY
                </td>
                <td>
                    GBR
                </td>
                <td>
                    <!--GBR-->
                    <span title="GREAT BRITAIN">GBR</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +24.13
                </td>
            </tr>
            <tr valign="top">
                <td>
                    4
                </td>
                <td>
                    Tara WHITTEN
                </td>
                <td>
                    CAN
                </td>
                <td>
                    <!--CAN-->
                    <span title="CANADA">CAN</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +26.16
                </td>
            </tr>
            <tr valign="top">
                <td>
                    5
                </td>
                <td>
                    Clara HUGHES
                </td>
                <td>
                    CAN
                </td>
                <td>
                    <!--CAN-->
                    <span title="CANADA">CAN</span>
                </td>
                <td class="age">
                    39
                </td>
                <td class="result">
                    +36.79
                </td>
            </tr>
            <tr valign="top">
                <td>
                    6
                </td>
                <td>
                    Eleonora VAN DIJK
                </td>
                <td>
                    NED
                </td>
                <td>
                    <!--NED-->
                    <span title="NETHERLANDS">NED</span>
                </td>
                <td class="age">
                    24
                </td>
                <td class="result">
                    +38.88
                </td>
            </tr>
            <tr valign="top">
                <td>
                    7
                </td>
                <td>
                    Rhae-Christie SHAW
                </td>
                <td>
                    CAN
                </td>
                <td>
                    <!--CAN-->
                    <span title="CANADA">CAN</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +39.23
                </td>
            </tr>
            <tr valign="top">
                <td>
                    8
                </td>
                <td>
                    Amber NEBEN
                </td>
                <td>
                    USA
                </td>
                <td>
                    <!--USA-->
                    <span title="UNITED STATES">USA</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +41.09
                </td>
            </tr>
            <tr valign="top">
                <td>
                    9
                </td>
                <td>
                    Emilia FAHLIN
                </td>
                <td>
                    SWE
                </td>
                <td>
                    <!--SWE-->
                    <span title="SWEDEN">SWE</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +55.06
                </td>
            </tr>
            <tr valign="top">
                <td>
                    10
                </td>
                <td>
                    Marianne VOS
                </td>
                <td>
                    NED
                </td>
                <td>
                    <!--NED-->
                    <span title="NETHERLANDS">NED</span>
                </td>
                <td class="age">
                    24
                </td>
                <td class="result">
                    +55.77
                </td>
            </tr>
            <tr valign="top">
                <td>
                    11
                </td>
                <td>
                    Ina TEUTENBERG
                </td>
                <td>
                    GER
                </td>
                <td>
                    <!--GER-->
                    <span title="GERMANY">GER</span>
                </td>
                <td class="age">
                    37
                </td>
                <td class="result">
                    +56.14
                </td>
            </tr>
            <tr valign="top">
                <td>
                    12
                </td>
                <td>
                    Shara GILLOW
                </td>
                <td>
                    AUS
                </td>
                <td>
                    <!--AUS-->
                    <span title="AUSTRALIA">AUS</span>
                </td>
                <td class="age">
                    24
                </td>
                <td class="result">
                    +1:00.55
                </td>
            </tr>
            <tr valign="top">
                <td>
                    13
                </td>
                <td>
                    Elena TCHALYKH
                </td>
                <td>
                    AZE
                </td>
                <td>
                    <!--AZE-->
                    <span title="AZERBAIJAN">AZE</span>
                </td>
                <td class="age">
                    37
                </td>
                <td class="result">
                    +1:00.84
                </td>
            </tr>
            <tr valign="top">
                <td>
                    14
                </td>
                <td>
                    Emma JOHANSSON
                </td>
                <td>
                    SWE
                </td>
                <td>
                    <!--SWE-->
                    <span title="SWEDEN">SWE</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +1:01.13
                </td>
            </tr>
            <tr valign="top">
                <td>
                    15
                </td>
                <td>
                    Evelyn STEVENS
                </td>
                <td>
                    USA
                </td>
                <td>
                    <!--USA-->
                    <span title="UNITED STATES">USA</span>
                </td>
                <td class="age">
                    28
                </td>
                <td class="result">
                    +1:21.73
                </td>
            </tr>
            <tr valign="top">
                <td>
                    16
                </td>
                <td>
                    Olga ZABELINSKAYA
                </td>
                <td>
                    RUS
                </td>
                <td>
                    <!--RUS-->
                    <span title="RUSSIA">RUS</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +1:25.20
                </td>
            </tr>
            <tr valign="top">
                <td>
                    17
                </td>
                <td>
                    Julia SHAW
                </td>
                <td>
                    GBR
                </td>
                <td>
                    <!--GBR-->
                    <span title="GREAT BRITAIN">GBR</span>
                </td>
                <td class="age">
                    46
                </td>
                <td class="result">
                    +1:49.88
                </td>
            </tr>
            <tr valign="top">
                <td>
                    18
                </td>
                <td>
                    Noemi CANTELE
                </td>
                <td>
                    ITA
                </td>
                <td>
                    <!--ITA-->
                    <span title="ITALY">ITA</span>
                </td>
                <td class="age">
                    30
                </td>
                <td class="result">
                    +1:58.26
                </td>
            </tr>
            <tr valign="top">
                <td>
                    19
                </td>
                <td>
                    Pascale SCHNIDER
                </td>
                <td>
                    SUI
                </td>
                <td>
                    <!--SUI-->
                    <span title="SWITZERLAND">SUI</span>
                </td>
                <td class="age">
                    27
                </td>
                <td class="result">
                    +1:58.84
                </td>
            </tr>
            <tr valign="top">
                <td>
                    20
                </td>
                <td>
                    Pia SUNDSTEDT
                </td>
                <td>
                    FIN
                </td>
                <td>
                    <!--FIN-->
                    <span title="FINLAND">FIN</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +2:01.33
                </td>
            </tr>
            <tr valign="top">
                <td>
                    21
                </td>
                <td>
                    Mélodie LESUEUR
                </td>
                <td>
                    FRA
                </td>
                <td>
                    <!--FRA-->
                    <span title="FRANCE">FRA</span>
                </td>
                <td class="age">
                    21
                </td>
                <td class="result">
                    +2:04.91
                </td>
            </tr>
            <tr valign="top">
                <td>
                    22
                </td>
                <td>
                    Aleksandra SOSENKO
                </td>
                <td>
                    LTU
                </td>
                <td>
                    <!--LTU-->
                    <span title="LITHUANIA">LTU</span>
                </td>
                <td class="age">
                    20
                </td>
                <td class="result">
                    +2:08.82
                </td>
            </tr>
            <tr valign="top">
                <td>
                    23
                </td>
                <td>
                    Olena PAVLUKHINA
                </td>
                <td>
                    UKR
                </td>
                <td>
                    <!--UKR-->
                    <span title="UKRAINE">UKR</span>
                </td>
                <td class="age">
                    22
                </td>
                <td class="result">
                    +2:19.05
                </td>
            </tr>
            <tr valign="top">
                <td>
                    24
                </td>
                <td>
                    Latoya BRULEE
                </td>
                <td>
                    BEL
                </td>
                <td>
                    <!--BEL-->
                    <span title="BELGIUM">BEL</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +2:29.12
                </td>
            </tr>
            <tr valign="top">
                <td>
                    25
                </td>
                <td>
                    Grete TREIER
                </td>
                <td>
                    EST
                </td>
                <td>
                    <!--EST-->
                    <span title="ESTONIA">EST</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +2:33.78
                </td>
            </tr>
            <tr valign="top">
                <td>
                    26
                </td>
                <td>
                    Leire OLABERRIA DORRONSORO
                </td>
                <td>
                    ESP
                </td>
                <td>
                    <!--ESP-->
                    <span title="SPAIN">ESP</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +2:42.41
                </td>
            </tr>
            <tr valign="top">
                <td>
                    27
                </td>
                <td>
                    Christel FERRIER-BRUNEAU
                </td>
                <td>
                    FRA
                </td>
                <td>
                    <!--FRA-->
                    <span title="FRANCE">FRA</span>
                </td>
                <td class="age">
                    32
                </td>
                <td class="result">
                    +2:45.56
                </td>
            </tr>
            <tr valign="top">
                <td>
                    28
                </td>
                <td>
                    Martina SABLIKOVA
                </td>
                <td>
                    CZE
                </td>
                <td>
                    <!--CZE-->
                    <span title="CZECH REPUBLIC">CZE</span>
                </td>
                <td class="age">
                    24
                </td>
                <td class="result">
                    +2:57.43
                </td>
            </tr>
            <tr valign="top">
                <td>
                    29
                </td>
                <td>
                    Alexandra BURCHENKOVA
                </td>
                <td>
                    RUS
                </td>
                <td>
                    <!--RUS-->
                    <span title="RUSSIA">RUS</span>
                </td>
                <td class="age">
                    23
                </td>
                <td class="result">
                    +3:01.22
                </td>
            </tr>
            <tr valign="top">
                <td>
                    30
                </td>
                <td>
                    Ashleigh MOOLMAN
                </td>
                <td>
                    RSA
                </td>
                <td>
                    <!--RSA-->
                    <span title="SOUTH AFRICA">RSA</span>
                </td>
                <td class="age">
                    26
                </td>
                <td class="result">
                    +3:07.52
                </td>
            </tr>
            <tr valign="top">
                <td>
                    31
                </td>
                <td>
                    Taryn HEATHER
                </td>
                <td>
                    AUS
                </td>
                <td>
                    <!--AUS-->
                    <span title="AUSTRALIA">AUS</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +3:08.71
                </td>
            </tr>
            <tr valign="top">
                <td>
                    32
                </td>
                <td>
                    Elisa LONGO BORGHINI
                </td>
                <td>
                    ITA
                </td>
                <td>
                    <!--ITA-->
                    <span title="ITALY">ITA</span>
                </td>
                <td class="age">
                    20
                </td>
                <td class="result">
                    +3:13.09
                </td>
            </tr>
            <tr valign="top">
                <td>
                    33
                </td>
                <td>
                    Michelle LAUGE JENSEN
                </td>
                <td>
                    DEN
                </td>
                <td>
                    <!--DEN-->
                    <span title="DENMARK">DEN</span>
                </td>
                <td class="age">
                    20
                </td>
                <td class="result">
                    +3:19.29
                </td>
            </tr>
            <tr valign="top">
                <td>
                    34
                </td>
                <td>
                    Tjaša RUTAR
                </td>
                <td>
                    SLO
                </td>
                <td>
                    <!--SLO-->
                    <span title="SLOVENIA">SLO</span>
                </td>
                <td class="age">
                    27
                </td>
                <td class="result">
                    +3:20.45
                </td>
            </tr>
            <tr valign="top">
                <td>
                    35
                </td>
                <td>
                    Eneritz ITURRIAGAECHEVARRIA MAZAGA
                </td>
                <td>
                    ESP
                </td>
                <td>
                    <!--ESP-->
                    <span title="SPAIN">ESP</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +3:28.91
                </td>
            </tr>
            <tr valign="top">
                <td>
                    36
                </td>
                <td>
                    Alena AMIALIUSIK
                </td>
                <td>
                    BLR
                </td>
                <td>
                    <!--BLR-->
                    <span title="BELARUS">BLR</span>
                </td>
                <td class="age">
                    22
                </td>
                <td class="result">
                    +3:29.20
                </td>
            </tr>
            <tr valign="top">
                <td>
                    37
                </td>
                <td>
                    Katarzyna SOSNA
                </td>
                <td>
                    LTU
                </td>
                <td>
                    <!--LTU-->
                    <span title="LITHUANIA">LTU</span>
                </td>
                <td class="age">
                    21
                </td>
                <td class="result">
                    +3:33.05
                </td>
            </tr>
            <tr valign="top">
                <td>
                    38
                </td>
                <td>
                    Liesbet DE VOCHT
                </td>
                <td>
                    BEL
                </td>
                <td>
                    <!--BEL-->
                    <span title="BELGIUM">BEL</span>
                </td>
                <td class="age">
                    32
                </td>
                <td class="result">
                    +3:44.95
                </td>
            </tr>
            <tr valign="top">
                <td>
                    39
                </td>
                <td>
                    Valeria MULLER
                </td>
                <td>
                    ARG
                </td>
                <td>
                    <!--ARG-->
                    <span title="ARGENTINA">ARG</span>
                </td>
                <td class="age">
                    37
                </td>
                <td class="result">
                    +3:52.77
                </td>
            </tr>
            <tr valign="top">
                <td>
                    40
                </td>
                <td>
                    Nontasin CHANPENG
                </td>
                <td>
                    THA
                </td>
                <td>
                    <!--THA-->
                    <span title="THAILAND">THA</span>
                </td>
                <td class="age">
                    27
                </td>
                <td class="result">
                    +3:59.35
                </td>
            </tr>
            <tr valign="top">
                <td>
                    41
                </td>
                <td>
                    Tetyana RIABCHENKO
                </td>
                <td>
                    UKR
                </td>
                <td>
                    <!--UKR-->
                    <span title="UKRAINE">UKR</span>
                </td>
                <td class="age">
                    22
                </td>
                <td class="result">
                    +4:00.58
                </td>
            </tr>
            <tr valign="top">
                <td>
                    42
                </td>
                <td>
                    Verónica LEAL BALDERAS
                </td>
                <td>
                    MEX
                </td>
                <td>
                    <!--MEX-->
                    <span title="MEXICO">MEX</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +4:07.34
                </td>
            </tr>
            <tr valign="top">
                <td>
                    43
                </td>
                <td>
                    Alenka NOVAK
                </td>
                <td>
                    SLO
                </td>
                <td>
                    <!--SLO-->
                    <span title="SLOVENIA">SLO</span>
                </td>
                <td class="age">
                    34
                </td>
                <td class="result">
                    +4:12.46
                </td>
            </tr>
            <tr valign="top">
                <td>
                    44
                </td>
                <td>
                    Kathryn BERTINE
                </td>
                <td>
                    SKN
                </td>
                <td>
                    <!--SKN-->
                    <span title="ST. KITTS &amp; NEVIS">SKN</span>
                </td>
                <td class="age">
                    36
                </td>
                <td class="result">
                    +4:17.64
                </td>
            </tr>
            <tr valign="top">
                <td>
                    45
                </td>
                <td>
                    Monrudee CHAPOOKHAM
                </td>
                <td>
                    THA
                </td>
                <td>
                    <!--THA-->
                    <span title="THAILAND">THA</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +4:21.88
                </td>
            </tr>
            <tr valign="top">
                <td>
                    46
                </td>
                <td>
                    Jacqueline HAHN
                </td>
                <td>
                    AUT
                </td>
                <td>
                    <!--AUT-->
                    <span title="AUSTRIA">AUT</span>
                </td>
                <td class="age">
                    20
                </td>
                <td class="result">
                    +4:48.44
                </td>
            </tr>
            <tr valign="top">
                <td>
                    47
                </td>
                <td>
                    Dinah CHAN
                </td>
                <td>
                    SIN
                </td>
                <td>
                    <!--SIN-->
                    <span title="SINGAPORE">SIN</span>
                </td>
                <td class="age">
                    25
                </td>
                <td class="result">
                    +4:56.11
                </td>
            </tr>
            <tr valign="top">
                <td>
                    48
                </td>
                <td>
                    Yelena ANTONOVA
                </td>
                <td>
                    KAZ
                </td>
                <td>
                    <!--KAZ-->
                    <span title="KAZAKHSTAN">KAZ</span>
                </td>
                <td class="age">
                    40
                </td>
                <td class="result">
                    +5:21.82
                </td>
            </tr>
            <tr valign="top">
                <td>
                    49
                </td>
                <td>
                    Martina RUZICKOVA
                </td>
                <td>
                    CZE
                </td>
                <td>
                    <!--CZE-->
                    <span title="CZECH REPUBLIC">CZE</span>
                </td>
                <td class="age">
                    31
                </td>
                <td class="result">
                    +5:46.28
                </td>
            </tr>
            <tr valign="top">
                <td>
                    50
                </td>
                <td>
                    Seba ALRAAI
                </td>
                <td>
                    SYR
                </td>
                <td>
                    <!--SYR-->
                    <span title="SYRIA">SYR</span>
                </td>
                <td class="age">
                    29
                </td>
                <td class="result">
                    +9:40.76
                </td>
            </tr>
            <tr valign="top">
                <td>
                    51
                </td>
                <td>
                    Claire FRASER
                </td>
                <td>
                    GUY
                </td>
                <td>
                    <!--GUY-->
                    <span title="GUYANA">GUY</span>
                </td>
                <td class="age">
                    33
                </td>
                <td class="result">
                    +9:45.43
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="row">
    <div class="col-md-12">
        <input type="button" value="Submit" class="btn btn-success" data-bind="click: submitChanges, visible: datasheets().length > 0" />
    </div>
</div>

<div class="loading-modal"></div>

@section Scripts {
    <script src="~/Scripts/Data/datasheet.js" type="text/javascript"></script>
    <script src="~/Scripts/datepicker.knockout.js" type="text/javascript"></script>

    <script type="text/javascript">
        var month = $('#Month').val();
        var year = $('#Year').val();

        var viewModel = function() {
            var self = this;
            self.datasheets = ko.observableArray([]);
            self.isAdmin = '@User.IsInRole("Admin")';
            self.currentFilter = ko.observable();

            self.dateColor = function(obj) {
                if (!obj())
                    return '#f8d7da';

                return '';
            }

            self.statusColor = function(obj) {
                if (obj().toLowerCase() === 'run')
                    return '#5cb85c';
                if (!obj())
                    return '#f8d7da';

                return '';
            }

            self.submitChanges = function() {
                showLoading();
                $.ajax({
                    dataType: "json",
                    type: 'POST',
                    url: "/Data/PostDataSheetChanges",
                    data: { month: month, year: year, sheet: ko.toJSON(self.datasheets()) },
                    success: function(returnData) {
                        hideLoading();
                        ko.mapping.fromJS(returnData, {}, self.datasheets);
                        alert('Datasheet has been successfully updated');
                    },
                    error: function(err) {
                        hideLoading();
                        alert('Error submitting the data: ' + err);
                    }
                });
            };

            self.clearData = function() {
                var answer = confirm("WARNING!\nAre you sure you want to clear the data for this month? This will permanently delete all the data for this month.");
                if (answer) {
                    showLoading();
                    $.ajax({
                        dataType: "json",
                        type: 'POST',
                        url: "/Data/ClearData",
                        data: { month: month, year: year },
                        success: function(returnData) {
                            hideLoading();
                            self.datasheets([]);
                        },
                        error: function(err) {
                            hideLoading();
                            alert('Error clearing data: ' + JSON.stringify(err));
                        }
                    });
                }
            }

            self.filteredDatasheet = ko.computed(function() {
                if (!self.currentFilter()) {
                    return self.datasheets();
                } else {
                    var f = self.currentFilter();
                    var exist = function(obj) {
                        return obj.toString().toLowerCase().indexOf(f) >= 0;
                    };
                    return ko.utils.arrayFilter(self.datasheets(), function(item) {
                        var i = ko.toJS(item);
                        return exist(i.DIS) || exist(i.TE) || exist(i.TM) || exist(i.Area) || exist(i.Rnd);
                    });

                }
            });


            var args = { month: month, year: year };

            showLoading();
            $.ajax({
                dataType: "json",
                url: "/Data/GetDataSheet",
                data: args,
                success: function(returnData) {
                    hideLoading();
                    ko.mapping.fromJS(returnData, {}, self.datasheets);
                },
                error: function(err) {
                    hideLoading();
                    alert('Error getting data: ' + JSON.stringify(err));
                }
            });
        }

        var datasheetViewModel = new viewModel();
        ko.applyBindings(datasheetViewModel);

        $('table').floatThead();
    </script>
}
