@using OnlineEventsMarketingApp.Extensions
@model OnlineEventsMarketingApp.Models.Settings.TagCreateViewModel
@{
    ViewBag.Title = "Create Tag";
    ViewBag.ModalId = "ModalCreateTags";
    ViewBag.ModalTitle = "Create Tag";
    Layout = "/Views/Shared/_LayoutModal.cshtml";

    //form
    ViewBag.ModalFormId = "frmTag";
    ViewBag.ModalFormAction = Url.Content("/Employee/CreateEmployeeDeductions");
}


<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.Label("Tag Name", new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.TagName, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TagName)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Start Date", new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DatePickerFor("StartDate", DateTime.Now, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("End Date", new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.DatePickerFor("EndDate", DateTime.Now, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
    </div>
</div>



@section ModalFooter
{
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
}