@using OnlineEventsMarketingApp.Extensions
@model OnlineEventsMarketingApp.Models.Settings.TagCreateViewModel

@{
    ViewBag.Title = "CreateTag";
}

<h2>Create Tag</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create a new Tag</h4>
        <hr />

        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Year, Model.Years, new { @class = "form-control js-year" })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Month, Model.Months, new { @class = "form-control js-month" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tag Name", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.TagName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Date", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DatePickerFor("StartDate", Model.StartDate == default(DateTime) ? default(DateTime) : Model.StartDate, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("End Date", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DatePickerFor("EndDate", Model.EndDate == default(DateTime) ? default(DateTime) : Model.EndDate, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Tags")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Settings/createtag.js" type="text/javascript"></script>
}
